html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
    margin-bottom: 10px;
}

.bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*======================
    404 page
=======================*/


.page_404{ 
  padding:40px 0; 
  background:#fff; 
  font-family: 'Arvo', serif;
  text-align: center;
  margin: auto;
}

h1 {
  color: #404F5E;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}

.p {
  color: #404F5E;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size:20px;
  margin: 0;
}

.f_button {
  padding: 10px 15px;
  background-color: rgb(17, 139, 119);
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  transition: 2s;
}

.f_button:hover {
  background-color: transparent;
  color: rgb(17, 139, 119);
  border: 1px solid rgb(17, 139, 119);
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}